# Managed by Ansible - linbit.common.customer_repo
{%- macro to_regex(patterns) -%}
  {%- if patterns -%}^({{ patterns | map('replace', '*', '.*') | map('replace', '?', '.') | join('|') }})${%- endif -%}
{%- endmacro %}

{% set for_staging = _for_staging | default(false) %}
{% set repos = _linbit_registration.repos %}
{% set included_re = to_regex(customer_repo_includes) %}
{% set excluded_re = to_regex(_customer_repo_excludes) %}
{% set staging_re = to_regex(customer_repo_staging_repos) %}

{% for name in repos | list | sort %}
{% set enabled = (not included_re or name | regex_search(included_re)) and (not excluded_re or not name | regex_search(excluded_re)) %}
{% set matches_staging = staging_re and name | regex_search(staging_re) %}
{% set config = repos[name]['config'] %}
{% if customer_repo_el_minor | bool and ansible_facts['os_family'] | lower == 'redhat' %}
{% set config = config | replace('/rhel' ~ ansible_facts['distribution_major_version'] ~ '/', '/rhel' ~ ansible_facts['distribution_version'] ~ '/') %}
{% endif %}
{% if for_staging and matches_staging %}
{% set config = config | replace('/' ~ _linbit_registration.nodehash ~ '/', '/' ~ _linbit_registration.nodehash ~ '/staging/') %}
[{{ name }}-staging]
name=LINBIT Staging Packages for {{ name }} - $basearch
{{ config }}
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-linbit
gpgcheck=1
repo_gpgcheck=0
priority=90

{% elif not for_staging %}
[{{ name }}]
name=LINBIT Packages for {{ name }} - $basearch
{{ config }}
enabled={{ '1' if enabled else '0' }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-linbit
gpgcheck=1
repo_gpgcheck=1
priority=90

{% endif %}
{% endfor %}
